*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
    color:#333;
}

header{
    background:#222;
    color:white;
    padding:15px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav ul{
    list-style:none;
    display:flex;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
}

.hero{
    text-align:center;
    padding:100px 20px;
    background:#007bff;
    color:white;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:white;
    color:#007bff;
    text-decoration:none;
    border-radius:5px;
}

section{
    padding:60px 20px;
}

h2{
    text-align:center;
    margin-bottom:30px;
}

.cards{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
}

.card{
    background:white;
    padding:20px;
    width:180px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.project{
    background:white;
    margin:20px auto;
    max-width:700px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

#contact{
    text-align:center;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:15px;
}

@media(max-width:768px){
    nav{
        flex-direction:column;
    }

    nav ul{
        margin-top:10px;
    }
}